body {
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    color: black;
}
h1 {
    background-color: lightblue;
    color: black;
    padding:30px;
    border-radius: 15px;
    text-align: center;
}
table{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse:collapse;
    border:2px solid black;
}
th,td{
    border: 2px solid gray;
    padding: 12px;
    text-align: left;
}
th{
    background-color: gray
}
td{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
